body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #191919;
}
header{

width: 100%;
float: left;
background-color: #fff;
}
header img{
width: 10%;
height:10%;

}

.container{
width: 80%;
margin-right: auto;
margin-left: auto;

}
header a{
  float: right;
height: 40px;
border-radius: 25px;
width: 150px;
background-color: #7C8282;
color: #ffffff;
font-size: 16px;
text-decoration: none;
padding-top: 20px;
padding-left: 20px;
margin-top: 5px;
}

.box{

  width: 500px;
  margin-top: 120px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"] {
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 320px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}



.radiocontainer div {
  margin:0 0 0.75em 0;
}

.radiocontainer input[type="radio"] {
    display:none;
}
.radiocontainer input[type="radio"] + label {
    color: #D8D4CC;
    font-family:Arial, sans-serif;
    font-size:14px;
}
.radiocontainer input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
}

.radiocontainer input[type="radio"] + label span {
     background-color:#868F94  ;
}

.radiocontainer input[type="radio"]:checked + label span{
     background-color:#F6BE55    ;
}

.radiocontainer input[type="radio"] + label span,
.radiocontainer input[type="radio"]:checked + label span {
  transition:background-color 0.4s linear;
}
.date label{
color:  #868F94;


}
.radiocontainer{
display: inline-block;

}



 h2{
color: #868F94;

}





input[type="date"] {
  display:block;
  position:relative;
  padding:1rem 3.5rem 1rem 0.75rem;

  font-size:1rem;
  font-family:monospace;
margin-left: 180px;
  border:1px solid #8292a2;
  border-radius:0.25rem;
  background:
    white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem
    center
    no-repeat;

  cursor:pointer;
}
input[type="date"]:focus {
  outline:none;
  border-color:#3acfff;
  box-shadow:0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display:none;
}
::-webkit-calendar-picker-indicator {
  position:absolute;
  width:2.5rem;
  height:100%;
  top:0;
  right:0;
  bottom:0;

  opacity:0;
  cursor:pointer;

  color:rgba(0, 120, 250, 1);
  background:rgba(0, 120, 250, 1);

}

input[type="date"]:hover::-webkit-calendar-picker-indicator { opacity:0.05; }
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover { opacity:0.15; }
